<div class="content">
    <div class="content-wrapper">
        <div class="content-left-part">
            <img class="content-left-part__img" src="%=static=%img/assets/content/left-part-image.png" alt="">
        </div>
        <div class="content-right-part">
            <div class="content-right-wrapper">
                <h1 class="content-page-title">Поиск и доставка товаров из Китая в Россию и СНГ</h1>
                <p class="content-text">Бесплатно за 4 шага рассчитайте стоимость
                    доставки или найдти нужный Вам товар в Китае.</p>
                <p class="content-buttons">
                    <a href="#" class="delivery-btn">Расчитать доставку</a>
                    <a href="#" class="searching-btn">Поиск товара в Китае</a>
                </p>
            </div>
            <div class="content-right-footer">
                <p class="copyrights">
                    <a href="#" class="copyrights__link">Соглашение об обработке персональных данных</a>
                </p>
            </div>
        </div>
    </div>
</div>
