.content{
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.content:after{
  background: url(%=static=%assets/content/shadow-wrapper.png) no-repeat;
  background-position: center 5px;
  content: '';
  display: block;
  height: 697px;
  position: absolute;
  left: 0;
  bottom: -215px;
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  pointer-events: none;
}

.content-wrapper{
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  position: relative;
  z-index: 10;
}

.content-left-part{
  position: relative;
}

.content-left-part__img{
  height: 550px;
  position: relative;
  top: 4px;
}

.content-right-part{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  height: 515px;
}

.content-right-wrapper{
  margin: 70px;
}

.copyrights{
  margin: 0 70px 20px;
}

.content-page-title{
  font-size: 1.875rem;
  margin: 0 0 30px;
}

.content-text{
  color: $black;
  font-size: 1rem;
  margin: 0 0 60px;
}

.content-buttons{
  font-size: .875rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.delivery-btn{
  border: 3px solid $red-link;
  border-radius: 15px;
  color: $red-link;
  margin-right: 2rem;
  padding: 5px 15px;
  text-decoration: none;
  
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.delivery-btn:hover, .delivery-btn:active{
  color: $white;
  background-color: $red-link;
}

.searching-btn{
  color: $red-link;
  text-decoration: none;
  border-bottom: 1px solid $pink-border;
  padding-bottom: 2px;

  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}

.searching-btn:hover,
.searching-btn:active{
  color: $red-link-hover;
}

.copyrights__link{
  color: $light-gray;
  border-bottom: 1px dashed $light-gray;
  font-size: .875rem;
  text-decoration: none;
}

.copyrights__link:hover{
  color: darken($light-gray, 10%);
  border-bottom: 1px dashed transparent;
}


@media all and (max-width: 1240px){
    .content-wrapper{
      margin: 0 20px;
    }

}

@media all and (max-width: 1040px){
    .content-left-part__img{
      height: auto;
    }

  .content-right-part{
    height: 455px;
  }
}

@media all and (max-width: 990px){
  .content-wrapper{
    margin: 0 20px;
  }

  .content-right-wrapper{
    margin: 50px;
  }

  .copyrights {
    margin: 0 50px 20px;
  }
}

@media all and (max-width: 945px){
  .delivery-btn{
    margin-right: 1rem;
  }

  .content-right-wrapper{
    margin: 30px;
  }

  .content-text{
    margin-bottom: 30px;
  }

  .copyrights {
    margin: 0 30px 20px;
  }
}

@media all and (max-width: 900px){
  .searching-btn{
    display: inline-block;
    clear: both;
    margin-top: 20px;
    margin-left: 10px;
  }
}

@media all and (max-width: 780px){
  .content-page-title{
    font-size: 1.5rem;
    margin: 0 0 30px;
  }
}

@media all and (max-width: 720px){

  .content-wrapper {
    margin: 0 auto;
    max-width: 392px;
  }

  .content:after{
    display: none;
  }

  .content-wrapper{
    flex-direction: column;
  }

  .content-right-part{
    height: auto;
  }
}

@media all and (max-width: 480px){
    .content{
      margin-bottom: 0;
    }
}