.step-delivery-form__fieldset{
   background-color: $white;
   max-width: 480px;
   min-width: 320px;
   border: 2px solid #9a9a9a;
   width: 100%;
   position: fixed;
   top: 130px;
   left: -300vw;
   z-index: 100;
   -webkit-transition: all .5s linear;
   -moz-transition: all .5s linear;
   -o-transition: all .5s linear;
   transition: all .5s linear;
 }

.fieldset-wrapper{
  padding: 40px;
}

.step-delivery-form__fieldset-title{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.step-delivery__description{
  font-size: .875rem;
  margin-bottom: 20px;
}

.step-delivery__info-step{
  color: #666;
  font-style: italic;
}

.form-field-label{
  cursor: pointer;
}

.input-text.step-input{
  max-width: 200px;
  margin-right: 5px;
}

.btn-forward, .btn-submit{
  background-color: $red-link;
  border: 1px solid $red-link-hover;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: .875rem;
}

.btn-forward[disabled], .btn-submit[disabled]{
  background-color: lighten($red-link, 20%);
}

.select-wrapper{
  position: relative;
  float: left;
  bottom: 3px;
  max-width: 150px;
  margin-right: 5px;
  height: 25px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.form-field-label.inner-select + .btn-forward{
  position: relative;
  top: -2px;
}

.select-wrapper:before{
  content: '';
  display: block;
  width: 20px;
  height: 25px;
  background-color: #fff;
  border-left: 1px solid #ddd;
  top: 0px;
  position: absolute;
  right: 0px;
  z-index: 1;
  pointer-events: none;
}

.select-wrapper:after{
  content: '';
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 7px;
  z-index: 2;
  margin-top: -2px;
  pointer-events: none;
}

.select-wrapper select{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.select-wrapper select:focus{
  outline: none;
}

.label-text{
  float: left;
  margin-right: 5px;
}

.input-text.step-input.input-sm{
  max-width: 80px;
}

.success-block{
  background-color: $white;
  max-width: 480px;
  min-width: 320px;
  position: absolute;
  top: 130px;
  left: -300vw;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.success-block-wrapper{
  color: #333;
  font-size: 1.05rem;
  padding: 30px;
}

.btn-forward:focus, .btn-submit:focus{
  outline: none;
}


@media all and (max-width: 480px){
  .step-delivery-form__fieldset, .success-block{
    top: 170px;
    width: 90%;
  }

  .fieldset-wrapper{
    padding: 20px;
  }

  .step-delivery-form__fieldset-title{
    font-size: 1.25rem;
  }
}

@media all and (max-width: 410px){
  .form-field-label{
    display: block;
    margin-bottom: 10px;
  }

  .btn-forward{
    padding: 5px 10px;
  }
}

@media all and (max-width: 360px){
  .label-text{
    margin-bottom: 10px;
  }
}