// Common styles of the project

html, body {
    background-color: $body-color;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    overflow-y: hidden;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

@media all and (max-width: 720px){
    html{
        overflow-y: auto;
    }
}