// Common styles of the project

html, body {
    background-color: #fff8e7;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}