// File for scss-vars.
// For example: main colors, paddings and so on.

$white: #fff;
$pink-border: #e5a3a3;
$light-gray: #9a9a9a;
$gray: #737373;
$red-link: #e33131;
$red-link-hover: #a10d0d;
$black: #000;
$body-color: #fff8e7;