<div class="search-product">
    <form method="post" action="#" class="search-product-form">
        <fieldset data-step="1" class="search-product-form__fieldset">
            <div class="fieldset-wrapper">
                <div class="search-product-form__fieldset-title">Оптовый поиск товара в Китае за 4 шага</div>
                <div class="search-product__description">
                    Наименование товара: <span class="search-product__info-step">Шаг 1 из 4</span>
                </div>
                <div class="field-row">
                    <label class="form-field-label">
                        Адрес: <input name="address" type="text" class="input-text step-input product-name-js" placeholder="Введите наименование товара">
                    </label>
                    <button type="button" disabled class="btn btn-forward" data-to-step="2">Далее</button>
                </div>
            </div>
        </fieldset>
        <fieldset data-step="2" class="search-product-form__fieldset">
            <div class="fieldset-wrapper">
                <div class="search-product-form__fieldset-title">Оптовый поиск товара в Китае за 4 шага</div>
                <div class="search-product__description">
                    Общая информация: <span class="search-product__info-step">Шаг 2 из 4</span>
                </div>
                <div class="field-row">
                    <label class="form-field-label">
                        Контакты: <input name="phone" type="text" class="input-text step-input phone-js" placeholder="Введите Ваш номер">
                    </label>
                    <button type="button" disabled class="btn btn-forward" data-to-step="3">Далее</button>
                </div>
            </div>
        </fieldset>
        <fieldset data-step="3" class="search-product-form__fieldset">
            <div class="fieldset-wrapper">
                <div class="search-product-form__fieldset-title">Оптовый поиск товара в Китае за 4 шага</div>
                <div class="search-product__description">
                    Параметры доставки: <span class="search-product__info-step">Шаг 3 из 4</span>
                </div>
                <div class="field-row">
                    <label class="form-field-label inner-select">
                        <span class="label-text">Способ доставки:</span>
                        <div class="select-wrapper">
                            <select name="delivery-type" class="form-select">
                                <option value="1">Авиадоставка</option>
                                <option value="2">Почтой России</option>
                                <option value="3">Зачухоным китайцем</option>
                            </select>
                        </div>
                    </label>
                    <button type="button" class="btn btn-forward" data-to-step="4">Далее</button>
                </div>
            </div>
        </fieldset>
        <fieldset data-step="4" class="search-product-form__fieldset">
            <div class="fieldset-wrapper">
                <div class="search-product-form__fieldset-title">Оптовый поиск товара в Китае за 4 шага</div>
                <div class="search-product__description">
                    Параметры доставки: <span class="search-product__info-step">Шаг 4 из 4</span>
                </div>
                <div class="field-row">
                    <label class="form-field-label">
                        Количество единиц товара: <input name="count-product" type="text" class="input-text count-product-js step-input input-sm" placeholder="1000">
                    </label>
                    <button type="submit" disabled class="btn btn-submit">Поиск товара</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="success-search-product-block">
        <div class="success-block-wrapper">
            <p>Спасибо что оставили заявку на поиск товара из Китая, наш специалист свяжется с Вами в течении 5 минут  и более детально расскажет про товар которые Вам требуются.</p>
            <p>p.s Мы ценим свое и Ваше время, пожалуйста проверьте чтобы контактный телефон которые вы указали форме был включен.</p>
        </div>
    </div>
</div>

