.header {
  margin: 70px 0;
  position: relative;
  width: 100%;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
}

.logo {
  display: block;
  float: left;
  height: 46px;
  width: 221px;
}

.logo-link {
  display: block;
  height: 100%;
  width: 100%;
}

.contacts {
  float: right;
  display: block;
  margin-top: 5px;
  position: relative;
}

.left-contact-part {
  margin-right: 15px;
  float: left;
}

.right-contact-part {
  float: right;
}

.contact-phone,
.contact-call-phone {
  display: block;
  width: 100%;
}

.contact-phone {
  margin-bottom: 2px;
}

.contact-link {
  color: $gray;
  font: bold 1rem $RobotoFont;
  text-decoration: none;
}

.contact-call-phone__link {
  border-bottom: 1px dashed $red-link;
  color: $red-link;
  font-size: .875rem;
  text-decoration: none;
}

.contact-call-phone__link:hover {
  border-bottom: 1px dashed transparent;
}

.phone-img__thumb{
  height: 32px;
  width: 32px;
}

.phone-img__thumb:hover{
  -webkit-animation-name: phone-ding;
  -moz-animation-name: phone-ding;
  -o-animation-name: phone-ding;
  animation-name: phone-ding;


  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  animation-direction: alternate ;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}

@media all and (max-width: 990px) {
  .header-wrapper {
    margin: 0 20px;
  }
}

@media all and (max-width: 660px){
  .header {
    margin: 70px 0 40px;
  }
}

@media all and (max-width: 580px) {
  .header {
    margin: 20px 0;
  }
}

@media all and (max-width: 480px) {
  .header-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .logo{
    margin-bottom: 15px;
  }
}

@keyframes phone-ding {
  0%{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20%{
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  30%{
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  40% {
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  45%{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  70%{
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  80%{
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  90%{
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100%{
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}