<div class="header">
    <div class="header-wrapper clearfix">
        <div class="logo">
            <a href="#" class="logo-link">
                <img class="logo__thumb" src="%=static=%img/assets/header/logo.jpg" alt="">
            </a>
        </div>

        <div class="contacts clearfix">
            <div class="right-contact-part">
                <span class="contact-phone"><a class="contact-link" href="tel:+78002321435">8 800 232 14 35</a></span>
                <span class="contact-call-phone"><a href="#" class="contact-call-phone__link">Заказать обратный звонок</a></span>
            </div>
        </div>
    </div>
</div>
